@media screen and (max-width:768px) {
header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 60px;
  background-color: white;
  z-index: 10;
}
body {
  margin-top: 60px;
}
.tech {
  display: inline-block;
  font-size: large;
  font-weight: bold;
  margin: 20px 0 0 20px;
  color: #000;
}
a{
  text-decoration: none;
  color: white
}
ul {
  display: flex;
  flex-direction: column;
}

.hamburger_eat {
  position: absolute;
  height: 100vh;
  width: 100%;
  left: -100%;
  background: gray;
  transition: .7s;
  text-align: center;
}
.hamburger_eat ul{
  padding-top: 80px;
}
.hamburger_eat ul li{
  list-style-type: none;
  margin-top: 50px;
}
.hamburger_box {
  display: inline-block;
  width: 36px;
  height: 32px;
  cursor: pointer;
  position: relative;
  left: -20px;
  top: 20px;
}
.menu_line1,
.menu_line2,
.menu_line3 {
  display: inline-block;
  width: 100%;
  height: 4px;
  background-color: #000;
  position: absolute;
  transition: 0.5s;
}
.menu_line1 {
  top: 0;
}
.menu_line2 {
  top: 14px;
}
.menu_line3 {
  bottom: 0;
}
.hamburger_box.open span:nth-of-type(1) {
  top: 14px;
  transform: rotate(45deg);
}
.hamburger_box.open span:nth-of-type(2) {
  opacity: 0;
}
.hamburger_box.open span:nth-of-type(3) {
  top: 14px;
  transform: rotate(-45deg);
}
.in{
  transform: translateX(100%);
}
}
.header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 60px;
  background-color: white;
  z-index: 10;
}
body {
  margin-top: 60px;
}
.tech {
  display: inline-block;
  font-size: large;
  font-weight: bold;
  margin: 20px 0 0 20px;
}
.header_nav {
  list-style: none;
  margin: 20px 0 20px 20px;
  
}
a {
  text-decoration: none;
  color: black;
}
ul {
  display: flex;
  justify-content: space-between;
 margin: 30px;
  
}
li {
  margin-right: 20px;
}


/*home*/
.home_pic {
  position: relative;
}
.home_logo1 {
  width: 100%;
  font-size: 50px;
  color: white;
  position: absolute;
  top:50%;
  text-align: center;
}
.home_logo2{
  color:white;
  font-size: 30px;
  width: 100%;
  position: absolute;
  top:60%;
  text-align: center;
}
.desire {
  background-color: black
}
.desire_tech {
  color: white;
  font-size: 30px;
  margin: 40px 0 0 30px;
  padding: 40px 0 0 40px;
}
.desire_item {
  color: white;
  font-size: 20px;
  margin: 0 0 0 30px;
  padding: 40px;
  line-height: 30px;
}
/*サービス*/
.service_nav {
font-size: 40px;
padding: 20px;
text-align: center;
font-weight: bold;
}
.card {
  display: grid;
  grid-template-rows: 500px 500px;
  grid-template-columns: 1fr 1fr;
}
.card_pic1 {
  grid-column: 1/2;
  grid-row: 1/2;
  display: inline;
  margin: 10px;
}
.card_pic2 {
  grid-column: 2/3;
  grid-row: 1/2;
  display: inline-block;
  margin: 10px;
}
.card_pic3 {
  grid-column: 1/2;
  grid-row: 2/3;
  display: inline-block;
  margin: 10px;
}
.card_pic4 {
  grid-column: 2/3;
  grid-row: 2/3;
  display: inline-block;
  margin: 10px;
}
.card_word {
  text-align: center;
  line-height: 30px;
}
.service_btn,
.blog_btn,
.contact_btn{
  display: block;
  background-color: rgb(189, 3, 3);
  padding: 20px 50px 20px 50px;
  font-size: 20px;
  width: 200px;
  font-weight: bold;
  margin: 50px auto;
  color: white;
  text-align: center;
  transition: 1.0s;
}
  .service_btn:hover {
  background-color: rgb(224, 119, 119);
  cursor: pointer;
  }
/*news*/
.news {
  background-color: black;
  height: 500px;
}
.news_index {
  color: white;
  font-size: 30px;
  margin: 30px 0 10px 20px;
  padding: 40px 0 0 40px;
}
.news_list {
  background-color: white;
  padding: 20px;
  margin: 20px 40px 40px 60px;
}
.news_list:hover {
  background-color: gray;
  transition: 1.0s;
}
.news_list1 {
  display: flex;
  flex-direction: column;
}
.news_btn {
  background-color: rgb(189, 3, 3);
  padding: 20px 30px 20px 30px;
  font-size: 20px;
  width: 200px;
  font-weight: bold;
  color: white;
  margin:  40px 40px 40px 60px;
}
.news_btn:hover {
  display: block;
  background-color: rgb(122, 50, 50);
  cursor: pointer;
  transition: 1.0s;
}
.news_flex {
  display: flex;
  justify-content: space-between;
}
/*blog*/
.blog_index {
  font-size: 30px;
  padding: 30px;
  margin: auto;
  display: block;
  width: 300px;
  text-align: center;
}
.blog_card {
  display: flex;
  justify-content: center;
  margin: 30px;
  color: #000;
}
.blog_card1,
.blog_card2,
.blog_card3 {
  margin: 10px;
  color: #000;
}
span {
  font-weight: bold;
  font-size: 20px;
}
.blog_card1 :hover{
  opacity: 0.5;
  cursor: pointer;
  transition: 1.0s;
}
.blog_card2 :hover{
  opacity: 0.5;
  cursor: pointer;
  transition: 1.0s;
}
.blog_card3 :hover{
  opacity: 0.5;
  cursor: pointer;
  transition: 1.0s;
}
.blog_btn:hover {
  display: block;
  background-color: rgb(224, 119, 119);
  margin: 50px auto;
  cursor: pointer;
}
.blog_day {
  margin: 10px;
}
/*campany*/
.campany {
  display: flex;
  justify-content: center;
  z-index: 10;
}
.campany_btn {
  background-color: rgb(175, 16, 16);
  color: white;
  width: 100%;
  text-align: center;
  padding: 150px 0 150px 0;
  font-weight: bold;
  font-size: 50px;
  z-index: 20;
}
.adopt_btn {
  background-color: black;
  color: white;
  width: 100%;
  text-align: center;
  padding: 150px 0 150px 0;
  font-weight: bold;
  font-size: 50px;
  z-index: 20;
}
.campany_btn:hover {
  opacity: 0.5;
  cursor: pointer;
  transition: 1.0s;
}
.adopt_btn:hover {
  opacity: 0.5;
  cursor: pointer;
  transition: 1.0s;
}
/*contact*/
.contact {
  background-color: rgb(240, 234, 234);
  padding: 30px;
  margin-top: 50px;
}
.contact_index {
  font-size: 50px;
  font-weight: bold;
  padding: 30px;
  margin: auto;
  text-align: center;
}
.contact_message {
  font-size: 30px;
  text-align: center;
}
.contact_btn:hover {
  background-color: rgb(224, 119, 119);
  cursor: pointer;
}
  /*footer*/

footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 30px;
}
.footer_nav-rist-home,
.footer_nav-rist-service,
.footer_nav-rist-news,
.footer_nav-rist-blog,
.footer_nav-rist-company,
.footer_nav-rist-adopt,
.footer_nav-rist-contact {
  color: white;
}
.footer_nav-rist-home,
.footer_nav-rist-service,
.footer_nav-rist-news,
.footer_nav-rist-blog,
.footer_nav-rist-company,
.footer_nav-rist-adopt {
border-right: solid 1px white;
padding-right: 5px;
}
.footer_nav_one {
  display: inline-block;
  margin-left: 15px;
}
small {
  margin-top:30px;
  margin-left: 30px;
}
@media screen and (max-width:768px) {
  small {
  margin-top: 70px;
  }
  .footer_nav {
    line-height: 30px;
  }
  .footer_nav-rist-home,
  .footer_nav-rist-service,
  .footer_nav-rist-news,
  .footer_nav-rist-blog,
  .footer_nav-rist-company,
  .footer_nav-rist-adopt {
    border: #000;