@media screen and (max-width:768px) {
header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 60px;
  background-color: white;
  z-index: 10;
}
body {
  margin-top: 60px;
}
.tech {
  display: inline-block;
  font-size: large;
  font-weight: bold;
  margin: 20px 0 0 20px;
  color: #000;
}
a{
  text-decoration: none;
  color: white
}
ul {
  display: flex;
  flex-direction: column;
}

.hamburger_eat {
  position: absolute;
  height: 100vh;
  width: 100%;
  left: -100%;
  background: gray;
  transition: .7s;
  text-align: center;
}
.hamburger_eat ul{
  padding-top: 80px;
}
.hamburger_eat ul li{
  list-style-type: none;
  margin-top: 50px;
}
.hamburger_box {
  display: inline-block;
  width: 36px;
  height: 32px;
  cursor: pointer;
  position: relative;
  left: -20px;
  top: 20px;
}
.menu_line1,
.menu_line2,
.menu_line3 {
  display: inline-block;
  width: 100%;
  height: 4px;
  background-color: #000;
  position: absolute;
  transition: 0.5s;
}
.menu_line1 {
  top: 0;
}
.menu_line2 {
  top: 14px;
}
.menu_line3 {
  bottom: 0;
}
.hamburger_box.open span:nth-of-type(1) {
  top: 14px;
  transform: rotate(45deg);
}
.hamburger_box.open span:nth-of-type(2) {
  opacity: 0;
}
.hamburger_box.open span:nth-of-type(3) {
  top: 14px;
  transform: rotate(-45deg);
}
.in{
  transform: translateX(100%);
}
}
.header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 60px;
  background-color: white;
  z-index: 10;
}
body {
  margin-top: 60px;
}
.tech {
  display: inline-block;
  font-size: large;
  font-weight: bold;
  margin: 20px 0 0 20px;
}
.header_nav {
  list-style: none;
  margin: 20px 0 20px 20px;
}
a {
  text-decoration: none;
  color: black;
}
ul {
  display: flex;
  justify-content: space-between;
  margin: 30px;
}
li {
  margin-right: 20px;
}
.home_pic {
  position: relative;
}

.home {
  position: relative;
}
.home_logo {
  width: 100%;
  font-size: 70px;
  color: white;
  position: absolute;
  top:50%;
  text-align: center;
}
.card {
  display: flex;
  justify-content: center;
  margin: 50px;
  border-top: dotted 1px black;
}
.card_word {
  font-size: 30px;
  padding: 30px;
  width: 580px;
}
.card_group{
  width: 75%;
}
.card_word1 {
  font-size: 30px;
  padding-left: 30px;
}
.card_pic {
  margin-top: 30px;
  text-align: center;
}
.card_one {
  display: flex;
  justify-content: center;
  margin: 50px;
  border-top: dotted 1px black;
  border-bottom: dotted 1px black;
  padding-bottom: 20px;
}
.contact {
  background-color: rgb(240, 234, 234);
  padding: 30px;
  margin-top: 50px;
}
.contact_index {
  font-size: 50px;
  font-weight: bold;
  padding: 30px;
  margin: auto;
  text-align: center;
}
.contact_message {
  font-size: 30px;
  text-align: center;
}
.contact_btn{
  display: block;
  background-color: rgb(189, 3, 3);
  padding: 20px 50px 20px 50px;
  font-size: 20px;
  width: 200px;
  font-weight: bold;
  margin: 50px auto;
  color: white;
  text-align: center;
}
.contact_btn:hover {
  background-color: rgb(224, 119, 119);
  cursor: pointer;
  transition: 1.0s;
}
footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 30px;
}
.footer_nav-rist-home,
.footer_nav-rist-service,
.footer_nav-rist-news,
.footer_nav-rist-blog,
.footer_nav-rist-company,
.footer_nav-rist-adopt,
.footer_nav-rist-contact {
  color: white;
}
.footer_nav-rist-home,
.footer_nav-rist-service,
.footer_nav-rist-news,
.footer_nav-rist-blog,
.footer_nav-rist-company,
.footer_nav-rist-adopt {
border-right: solid 1px white;
padding-right: 5px;
}
small {
  margin-top:30px;
  margin-left: 30px;
}
@media screen and (max-width:768px) {
  small {
  margin-top: 70px;
  }
  .footer_nav {
    line-height: 30px;
  }
  .footer_nav-rist-home,
  .footer_nav-rist-service,
  .footer_nav-rist-news,
  .footer_nav-rist-blog,
  .footer_nav-rist-company,
  .footer_nav-rist-adopt {
    border: #000;